* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --ubun-reg: 400;
  --ubun-med: 500;
  --ubun-bold: 700;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1115px;
  height: 100%;
  padding: 0 15px;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: #8e4575;
  height: 101px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  display: inline-block;
}

.logo {
  margin: 22px 0px;
}

.cart-block {
  display: flex;
  color: #fff;
  align-items: center;
}

.cart-block__count {
  margin-left: 10px;
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
}
/* Header */

.main {
  padding-top: 105px;
  padding-bottom: 125px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 28px;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product__item {
  max-width: 257px;
  margin-right: 12.5px;
  margin-left: 12.5px;
  padding: 13px;
  background-color: #f7f8fc;
  margin-bottom: 30px;
}

.product__item-img {
  margin-bottom: 10px;
}

.product__item-title {
  font-size: 18px;
  font-weight: var(--ubun-med);
  line-height: 21px;
  max-width: 135px;
  margin-bottom: 10px;
  max-width: 100%;
}

.product__item-ing {
  font-size: 14px;
  font-weight: var(--ubun-reg);
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.product__item-price {
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
  text-align: left;
  margin-bottom: 50px;
}

.product__item-btn {
  padding: 7px 80px;
  border: none;
  background-color: #8e4575;
  font-weight: var(--ubun-bold);
  color: #fff;
}

.product__item-btn__disable {
  background-color: #919294;
}
/* Main */

/* Footer */
.footer {
  background-color: #43333e;
  height: 250px;
  color: #fff;
  padding: 40px 0px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: var(--ubun-reg);
}

.footer li:first-child {
  font-size: 28px;
  line-height: 32px;
}

.footer li:last-child {
  font-size: 16px;
  line-height: 18px;
  color: #919294;
  margin-bottom: 0;
  margin-top: 20px;
}
/* Footer */

/* LeftSideBar */
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 445px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.closeMenu {
  position: absolute;
  top: 35px;
  right: 35px;
}

.leftsiderbar__content {
  font-size: 18px;
  line-height: 20px;
  padding-top: 120px;
  padding-left: 60px;
}

.leftsiderbar__content > li:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 75px;
  font-weight: var(--ubun-bold);
}
.leftsiderbar__content > li:nth-child(2) > a {
  color: #000;
  text-decoration: none;
}

.leftsiderbar__content > li:last-child {
  max-width: 165px;
  height: 63px;
}

.gotoadmin {
  position: absolute;
  bottom: 75px;
  right: 0;
  left: 0;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* LeftSideBar */

/* RightSideBar */
.cart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 445px;
  background-color: #8e4575;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  height: max-content;
  min-height: 100vh;
}

.closeCart {
  position: absolute;
  top: 35px;
  left: 35px;
}

.closeCart > img {
  color: #fff;
}

.cart__catalog {
  padding-top: 100px;
  padding-right: 35px;
  padding-left: 35px;
}

.cart__catalog__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.cart__catalog__item-title {
  font-size: 16px;
  font-weight: var(--ubun-reg);
  line-height: 19px;
}

.cart__catalog__item-price {
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
}

.cart__total {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 20px;
  border-top: 1px solid #fff;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;

}

.cart__total > p {
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
}
/* RightSideBar */

#openCart {
  transition: all 0.5s;
}

#openCart:hover {
  opacity: 0.5;
}

#openMenu {
  transition: all 0.5s;
}

#openMenu:hover {
  opacity: 0.5;
}

#closeCart {
  transition: all 0.5s;
}

#closeCart:hover {
  opacity: 0.5;
}

#closeMenu {
  transition: all 0.5s;
}

#closeMenu:hover {
  opacity: 0.5;
}

@media (max-width: 450px) {
  .logo > img {
    width: 157px;
  }

  .cart {
    width: 100%;
  }

  .menu {
    width: 100%;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 0.2s;
}

@keyframes fade {
  from {
    width: 245px;
  } 
  to {
    width: 445px;
  }
}

