* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --ubun-reg: 400;
  --ubun-med: 500;
  --ubun-bold: 700;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1115px;
}

/* Header */
.header {
  background-color: #8e4575;
  height: 101px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  display: inline-block;
}

.logo {
  margin: 22px 0px;
}

.cart-block {
  display: flex;
  color: #fff;
  align-items: center;
}

.cart-block__count {
  margin-left: 10px;
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
}
/* Header */

.main {
  padding-top: 105px;
  padding-bottom: 125px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 28px;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product__item {
  max-width: 257px;
  margin-right: 25px;
  padding: 13px;
  background-color: #f7f8fc;
  margin-bottom: 30px;
}

.product__item-img {
  margin-bottom: 10px;
}

.product__item-title {
  font-size: 18px;
  font-weight: var(--ubun-med);
  line-height: 21px;
  max-width: 135px;
  margin-bottom: 10px;
}

.product__item-ing {
  font-size: 14px;
  font-weight: var(--ubun-reg);
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.product__item-price {
  font-size: 18px;
  font-weight: var(--ubun-bold);
  line-height: 21px;
  text-align: left;
  margin-bottom: 50px;
}

.product__item-btn {
  padding: 7px 80px;
  border: none;
  background-color: #8e4575;
  font-weight: var(--ubun-bold);
  color: #fff;
}

.product__item-btn__disable {
  background-color: #919294;
}
/* Main */

/* Footer */
.footer {
  background-color: #43333e;
  height: 250px;
  color: #fff;
  padding: 40px 0px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: var(--ubun-reg);
}

.footer li:first-child {
  font-size: 28px;
  line-height: 32px;
}

.footer li:last-child {
  font-size: 16px;
  line-height: 18px;
  color: #919294;
  margin-bottom: 0;
  margin-top: 20px;
}
/* Footer */
